<nav mat-tab-nav-bar class="custom-navbar">
    <mat-tab-group (selectedTabChange)="changeTab($event)" backgroundColor="primary">
        <mat-tab >
            <ng-template mat-tab-label>
                <div [ngClass]="{'blink': notification.unseenCount}">
                <span *ngIf="notification.unseenCount" [matBadge]="notification.unseenCount"
                    matBadgePosition="after" matBadgeColor="accent"></span>
               Chat
            </div>
            </ng-template>
            <div class="tab-content">
                <app-chat  [selectedIndex]="selectedIndex" [clock]="clock" [userName]="userName"></app-chat>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                Settings
            </ng-template>
            <div class="tab-content">
                <app-settings></app-settings>
            </div>
        </mat-tab>
    </mat-tab-group>
</nav>